<section class="main-section-container">
  <div class="main-heading">Hello, Welcome to SCSS Demo</div>
  
  <div class="sub-heading">
    This is Sub Heading
    <span>Note: Instructions about your sub heading.</span>
  </div>

  <div class="paragraph">
    This is paragraph
  </div>
</section>


<section class="main-section-container">
  <div class="maixin-heading">@Mixin and @include Demo </div>
  <div class="mixin-sub-heading">What are mixins?</div>
  <div class="mixin-para">The @mixin directive lets you create CSS code that is to be reused throughout the website.</div>

  <div class="logo-container-dark">
    LOGO
  </div>

  <div class="logo-container-light">
    LOGO
  </div>

</section>

<section class="main-section-container">
  <div>@extend Demo</div>

    <div style="margin-top: 1rem;">
      <button class="my-cancel-button">Cancel</button>
      <button class="my-submit-button" style="margin-left: 1rem;">Submit</button>
    </div>
</section>

<section class="main-section-container">

  <div class="large-label">Large Label</div>
  <div class="medium-label">Medium Label</div>
  <div class="small-label">Small Label</div>
</section>